@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  font-style: normal;
  height: 100vh;
  overflow: hidden;
  /* Prevent double scrollbars */
}

#root {
  height: 100%;
}