@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  height: 100vh;
  overflow: hidden;
}

#root {
  height: 100%;
}
